---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const props = Astro.props;
---

<div
  class="
  py-2.5 sm:py-3 grid items-start
  grid-cols-[repeat(auto-fill,_minmax(4.875rem,_1fr))]
  xxs:grid-cols-[repeat(auto-fill,_minmax(5.675rem,_1fr))]
  xs:grid-cols-[repeat(auto-fill,_minmax(7.975rem,_1fr))]
  sm:grid-cols-[repeat(auto-fill,_minmax(9.875rem,_1fr))]
  md:grid-cols-[repeat(auto-fill,_minmax(10.275rem,_1fr))]
  xl:grid-cols-4
  grid-flow-row-dense gap-6
  "
  {...props}>
  <slot />
</div>
