---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const props = Astro.props;
---

<div
  class="
  py-2.5 sm:py-3 grid items-start
  grid-cols-[repeat(auto-fit,_minmax(7.875rem,_1fr))]
  sm:grid-cols-[repeat(auto-fit,_minmax(9.675rem,_1fr))]
  md:grid-cols-3
  xl:grid-cols-4
  grid-flow-row-dense gap-6
  "
  {...props}>
  <slot />
</div>
