---
import LinkCard from './LinkCard.astro'

export type Props = {
  href: string
  'data-link-card'?: string
}

const props = Astro.props
const isLinkCard = Object.hasOwn(props, 'data-link-card')
---

{
  isLinkCard ? (
    <LinkCard {...props} />
  ) : (
    <a {...props}>
      <slot />
    </a>
  )
}
