---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { langList } from '@/i18n/data'
import BulletinBoard from '@/components/BulletinBoard.astro'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
---

<BaseLayout
  title={meta.data.site.title}
  description={meta.data.site.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <BulletinBoard
      infoList={[
        'Hello, everyone.',
        'This is a bulletin board that shows...',
        'Please fasten your seatbelt tightly.',
      ]}
    />
  </main>
</BaseLayout>
<style>
  main {
  }
  @media (min-width: 1024px) {
    main {
    }
  }
</style>
