---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { langList } from '@/i18n/data'
import BulletinBoard from '@/components/BulletinBoard.astro'
import Message from '@/components/Message.astro'
import { NEWS_MAXIMUM_COUNT } from '@/consts'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
const news = await getCollection('news').then((entries) =>
  entries.filter(
    (entry) => entry.slug.slice(0, entry.slug.indexOf('/')) === locale
  )
)
// const news = await getCollection('page').then((pages) =>
//   pages.filter(
//     (page) =>
//       !page.slug.includes('about') &&
//       page.slug.slice(0, page.slug.indexOf('/')) === locale
//   )
// )
const latestNews = news.slice(0, NEWS_MAXIMUM_COUNT)
---

<BaseLayout
  title={meta.data.site.title}
  description={meta.data.site.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <BulletinBoard newsList={latestNews} />
    <Message
      direction="right"
      content="こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。"
    />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 1.85rem;
  }
  @media (min-width: 1024px) {
    main {
    }
  }
</style>
