---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection, getEntry } from 'astro:content'
import TaxonomyList from '@/components/TaxonomyList.astro'
import { langList } from '@/i18n/ui'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const entries = await getCollection('blog')
const tags = [...new Set(entries.flatMap((entry) => entry.data.tags ?? []))]
const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
---

<BaseLayout
  title={meta.data.blog.tags.title}
  description={meta.data.blog.tags.description ?? ''}
>
  <main data-pagefind-ignore="all">
    <h1>Tags</h1>
    <a href={`/${locale}/blog/`}>◀ Back to Top</a>
    <hr />
    <TaxonomyList kind="tags" taxonomyList={tags} />
  </main>
</BaseLayout>
