---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection, getEntry } from 'astro:content'
import TaxonomyList from '@/components/TaxonomyList.astro'

const entries = await getCollection('blog')
const tags = [...new Set(entries.flatMap((entry) => entry.data.tags ?? []))]
const meta = await getEntry('meta', 'site-data')
---

<BaseLayout
  title={meta.data.blog.tags.title}
  description={meta.data.blog.tags.description ?? ''}
>
  <main data-pagefind-ignore="all">
    <h1>Tags</h1>
    <a href="/blog/">◀ Back to Top</a>
    <hr />
    <TaxonomyList kind="tags" taxonomyList={tags} />
  </main>
</BaseLayout>
