# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.production
.dev.vars

# macOS-specific files
.DS_Store

# Front Matter CMS files
.frontmatter/

# Wrangler
.wrangler/

# VSCode
# .vscode/
