---
import { ACCOUNT_ID, SITE_DOMAIN } from '@/lib/consts';
import type { Language } from '@/utils/i18n/data';

type Props = {
  locale: Language;
};

const { locale } = Astro.props;
const repo = `${ACCOUNT_ID}/${SITE_DOMAIN}`;
---

<div>{locale}</div>
<div>{repo}</div>
