---
import { TOC_MINIMUM_COUNT } from '@/lib/consts';
import type { MarkdownHeading } from 'astro';
import TocDrawer from './TocDrawer.astro';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

{
  headings.length >= TOC_MINIMUM_COUNT && (
    <TocDrawer>
      <ul class="flex flex-col gap-4">
        {headings.map((heading) => (
          <li
            class={
              heading.depth === 2 ? "ml-0 before:content-['◆_']"
             : heading.depth === 3 ? "ml-5 before:content-['▶_']"
              : heading.depth === 4 ? "ml-10 before:content-['◇_']"
              : heading.depth === 5 ? "ml-14 before:content-['▷_']"
              : heading.depth === 6 ? "ml-20 before:content-['・_']"
              : ""
            }
          >
            <a href={`#${heading.slug}`} class="hover:underline hover:underline-offset-4">{heading.text.replace('#', '')}</a>
          </li>
        ))}
      </ul>
    </TocDrawer>
  )
}
