---

---

<div class="
  bg-default-reverse hover:bg-default-reverse-hover
  max-w-full h-48 sm:h-60 flex flex-col
  gap-1.5 sm:gap-2 break-inside-avoid
  border-2 border-solid border-line-solid rounded-sm animate-fadeInUp
  xxs:max-w-32 xs:max-w-48 sm:max-w-56 md:max-w-72 xl:max-w-80
  "
>
  <slot />
</div>
