---
import { Icon } from '@/components/ui/Icon';
import PhotoItemFrame from './PhotoItemFrame.astro';
---

<PhotoItemFrame>
  <div class="border-b-2 border-solid border-line-solid flex justify-center items-center w-full h-32">
    <Icon iconName="loading" width={30} height={30} />
  </div>
</PhotoItemFrame>
