:root {
  --fg: hsla(248.57, 11.48%, 11.96%, 1);
  --bg: hsla(0, 0%, 96.7%, 1);
  --bg-gradient: to top, hsla(0, 0%, 70.47%, 1), hsla(0, 0%, 96.7%, 1);
  --line: hsla(260.87, 10.13%, 55.49%, 0.33);
  --accent: hsla(240.24, 100%, 48.63%, 1);
  --accent-dark: hsla(240, 98.54%, 26.86%, 1);
  --pixel-border: hsla(240, 6.9%, 11.37%, 1);
  --mobile-nav-bg: hsla(0, 0%, 91.71%, 1);
  --modal-bg: hsla(223, 13%, 10%, 0.7);
  --bulletin-board-fg: hsla(32.94, 100%, 50%, 1);
  --bulletin-board-bg: hsla(30, 9.8%, 20%, 1);
  --glass-bg: hsla(0, 0%, 96.7%, 0.9);
  --code-title-bg: hsla(60, 0.52%, 85.55%, 1);
  --code-highlight: hsla(242, 100%, 90%, 0.2);
  --code-highlight-border: hsla(242, 94.78%, 82.45%, 0.8);
  --gray: hsla(60, 0.52%, 75.55%, 1);
  --gray-light: hsla(0, 0%, 86.71%, 1);
  --gray-dark: hsla(0, 1.27%, 30.98%, 1);
  --base-font: 'Inconsolata Variable', 'Helvetica Neue', 'Helvetica', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, Verdana, sans-serif;
  --code-font: Menlo, Consolas, monospace;
}
@media (prefers-color-scheme: dark) {
  :root {
    --fg: hsla(0, 0%, 96.7%, 1);
    --bg: hsla(248.57, 11.48%, 11.96%, 1);
    --bg-gradient: to top,
      hsla(248.57, 11.48%, 58.96%, 1) hsla(248.57, 11.48%, 11.96%, 1);
    --accent: hsla(215.24, 100%, 52.63%, 1);
    --accent-dark: hsla(220, 98.54%, 43.86%, 1);
    --pixel-border: hsla(220, 100%, 98.22%, 1);
    --mobile-nav-bg: hsla(248.57, 11.48%, 20.96%, 1);
    --modal-bg: hsla(223, 8%, 8%, 0.8);
    --glass-bg: hsla(248.57, 11.48%, 11.96%, 0.9);
    --code-title-bg: hsla(60, 0.52%, 65.55%, 1);
    --code-highlight: hsla(213.49, 87.31%, 82%, 0.2);
    --code-highlight-border: hsla(213.49, 84.31%, 70%, 0.8);
  }
}
body {
  font-family: var(--base-font);
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--fg);
  background: var(--bg);
  line-height: 1.35;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}
main {
  grid-area: main;
  padding: 2.25rem 1.5rem;
}
@media (min-width: 768px) {
  main {
    padding: 2.25rem 2.75rem;
  }
}
@media (min-width: 1024px) {
  main {
    grid-area: main;
    padding: 3rem 4rem;
    overflow-y: auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.85rem 0;
}
h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.5;
}
h2 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.4;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.35;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
h5,
h6 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5,
  h6 {
    font-size: 1.25rem;
  }
}
a.back-to-link {
  font-size: 1.15rem;
  color: var(--accent);
  text-decoration: none;
  &:hover {
    color: var(--accent-dark);
  }
}
ul,
ol {
  padding: 0;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.15rem;
}
blockquote {
  border-left: 4px solid var(--gray-dark);
  padding: 0 0 0 1.5rem;
  margin: 0px;
  font-size: 1.05rem;
}
hr {
  border: none;
  border-top: 1px solid var(--line);
  margin: 0.75rem 0;
}
@supports (backdrop-filter: blur(6px) saturate(180%)) {
  .glassmorphism {
    backdrop-filter: blur(6px) saturate(180%);
  }
  @supports (-webkit-backdrop-filter: blur(6px) saturate(180%)) {
    .glassmorphism {
      backdrop-filter: blur(6px) saturate(180%);
      -webkit-backdrop-filter: blur(6px) saturate(180%);
    }
  }
}
.pixel-border {
  border-image-source: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' ?><svg version='1.1' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(28, 27, 34)' /></svg>");
  border: 4px solid var(--fg);
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: repeat;
  border-image-outset: 2;
}
@media (prefers-color-scheme: dark) {
  .pixel-border {
    border-image-source: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' ?><svg version='1.1' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(246.59, 246.59, 246.59)' /></svg>");
  }
}
