:root {
  --fg: hsla(248.57, 11.48%, 11.96%, 1);
  --bg: hsla(0, 0%, 96.7%, 1);
  --bg-hover: hsla(0, 0%, 91.7%, 1);
  --line: hsla(260.87, 10.13%, 55.49%, 0.33);
  --accent: hsla(240.24, 100%, 48.63%, 1);
  --accent-dark: hsla(240, 98.54%, 26.86%, 1);
  --pixel-border: hsla(240, 6.9%, 11.37%, 1);
  --menu-bg: hsla(0, 0%, 91.71%, 1);
  --modal-bg: hsla(223, 13%, 10%, 0.6);
  --bulletin-board-fg: hsla(32.94, 100%, 50%, 1);
  --bulletin-board-bg: hsla(30, 9.8%, 20%, 1);
  --glass-bg: hsla(0, 0%, 96.7%, 0.9);
  --gray: hsla(60, 0.52%, 75.55%, 1);
  --gray-light: hsla(0, 0%, 86.71%, 1);
  --gray-dark: hsla(0, 1.27%, 20.98%, 1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --fg: hsla(0, 0%, 96.7%, 1);
    --bg: hsla(248.57, 11.48%, 11.96%, 1);
    --bg-hover: hsla(248.57, 11.48%, 18.96%, 1);
    --accent: hsla(215.24, 100%, 52.63%, 1);
    --accent-dark: hsla(220, 98.54%, 43.86%, 1);
    --pixel-border: hsla(220, 100%, 98.22%, 1);
    --menu-bg: hsla(248.57, 11.48%, 20.96%, 1);
    --modal-bg: hsla(220, 20%, 9%, 0.9);
    --glass-bg: hsla(248.57, 11.48%, 11.96%, 0.9);
  }
}

@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Th.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'LINE Seed JP', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--fg);
  background: var(--bg);
  line-height: 1.375;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

main {
  grid-area: main;
  padding: 2.25rem 1.5rem;
  @media (min-width: 768px) {
    padding: 2.25rem 2.75rem;
  }
  @media (min-width: 1024px) {
    grid-area: main;
    padding: 3rem 4rem;
    overflow-y: auto;
  }
}

h1 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 1.5;
  @media (min-width: 480px) {
    font-size: 2.175rem;
  }
  @media (min-width: 768px) {
    font-size: 2.875rem;
  }
}
h2 {
  font-size: 1.785rem;
  font-weight: 700;
  line-height: 1.4;
  @media (min-width: 480px) {
    font-size: 1.875rem;
  }
  @media (min-width: 768px) {
    font-size: 2.225rem;
  }
}
h3 {
  font-size: 1.615rem;
  font-weight: 700;
  line-height: 1.35;
  @media (min-width: 480px) {
    font-size: 1.675rem;
  }
  @media (min-width: 768px) {
    font-size: 1.875rem;
  }
}
h4 {
  font-size: 1.325rem;
  font-weight: 700;
  line-height: 1.2;
  @media (min-width: 480px) {
    font-size: 1.375rem;
  }
  @media (min-width: 768px) {
    font-size: 1.585rem;
  }
}
h5 {
  font-size: 1.215rem;
  font-weight: 700;
  line-height: 1.2;
  @media (min-width: 480px) {
    font-size: 1.275rem;
  }
  @media (min-width: 768px) {
    font-size: 1.325rem;
  }
}
h6 {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2;
  @media (min-width: 480px) {
    font-size: 1.225rem;
  }
  @media (min-width: 768px) {
    font-size: 1.275rem;
  }
}

ul,
ol {
  padding: 0;
}
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.15rem;
}

hr {
  border: none;
  border-top: 1px solid var(--line);
  margin: 1.25rem 0;
}

.classic-blue-link {
  font-size: 1.025rem;
  color: var(--accent);
  text-decoration: none;
  &:hover {
    color: var(--accent-dark);
  }
  @media (min-width: 768px) {
    font-size: 1.15rem;
  }
}

@supports (backdrop-filter: blur(6px) saturate(180%)) {
  .glassmorphism {
    backdrop-filter: blur(6px) saturate(180%);
  }
}
@supports (-webkit-backdrop-filter: blur(6px) saturate(180%)) {
  .glassmorphism {
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
  }
}

.solid-border {
  border: 2px solid var(--line);
  border-radius: 0.175rem;
}

.double-border {
  position: relative;
  border-top: 4px solid var(--pixel-border);
  border-right: 2px solid var(--pixel-border);
  border-bottom: 2px solid var(--pixel-border);
  border-left: 2px solid var(--pixel-border);
  border-radius: 0.3rem;
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -6px;
    right: -6px;
    border-top: 2px solid var(--pixel-border);
    border-right: 2px solid var(--pixel-border);
    border-bottom: 4px solid var(--pixel-border);
    border-left: 2px solid var(--pixel-border);
    border-radius: 0.5rem;
    z-index: -1;
  }
}

.pixel-border {
  border-image-source: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' ?><svg version='1.1' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(28, 27, 34)' /></svg>");
  border: 5px solid var(--fg);
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: repeat;
  border-image-outset: 2;
}
@media (prefers-color-scheme: dark) {
  .pixel-border {
    border-image-source: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' ?><svg version='1.1' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(246.59, 246.59, 246.59)' /></svg>");
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 800ms ease-out forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
