@font-face {
  font-family: 'PixelMplus10';
  src: url('/fonts/PixelMplus10-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}
@font-face {
  font-family: 'PixelMplus10';
  src: url('/fonts/PixelMplus10-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: 200%;
}
