---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils';

type Props = {
  newsList: CollectionEntry<'news'>[];
};

const { newsList } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);
const translatePath = useTranslatedPath(locale);
const t = await getEntry('i18n', `${locale}/translation`);
---

<div
  class="
  relative mx-auto max-w-[unset] lg:max-w-7xl w-full box-border overflow-x-hidden bg-bulletin-bg rounded-sm border-solid border-2 border-gray-700 before:absolute before:top-0 before:left-0 before:content-[''] before:w-full before:h-full before:bg-[radial-gradient(transparent 0 1px, rgba(0, 0, 0, 0.3) 1px)] bg-[length:3px_3px]
  "
>
  <ul class="pl-[100%] inline-block whitespace-nowrap m-0 animate-bulletinRoll">
    {
      newsList.length > 0 ? (
        newsList.map((news) => (
          <li class="font-pixelMPlus text-[1.585rem] sm:text-[1.675rem] md:text-[1.75rem] lg:text-3xl text-bulletin-fg inline mr-20 tracking-[0.125rem] [text-shadow:_0_0_4px]">
            <a
              href={translatePath(
                `/${news.collection}/${news.slug.split('/').pop()}/`
              )}
            >
              {news.data.title}
            </a>
          </li>
        ))
      ) : (
        <li>{t.data.bulleting_board.no_news}</li>
      )
    }
  </ul>
</div>
