---
import { getEntry } from 'astro:content';
import { getLocaleFromUrl } from '@/utils/i18n/utils';

const locale = getLocaleFromUrl(Astro.url);
const t = await getEntry('i18n', `${locale}/translation`);
---

<aside class="w-full h-full flex justify-between items-center xxs:justify-end sm:gap-0.5 md:gap-3 lg:flex-col-reverse lg:justify-between lg:gap-0">
  <slot name="outside-drawer" />
  <input
    type="checkbox"
    id="menu-toggle-check"
    class="peer appearance-none"
    placeholder={t.data.nav.hamburger_label}
  />
  <label
    for="menu-toggle-check"
    class="flex place-self-center w-10 h-10 cursor-pointer z-30 items-center justify-center lg:hidden
    peer-checked:[&>span]:bg-transparent
    peer-checked:[&>span]:before:bottom-0 peer-checked:[&>span]:before:rotate-45
    peer-checked:[&>span]:after:top-0 peer-checked:[&>span]:after:-rotate-45">
    <span class="content-[''] block h-[3px] w-[25px] bg-default absolute
    before:content-[''] before:block before:h-[3px] before:w-[25px] before:bg-default before:absolute before:bottom-[8px]
    after:content-[''] after:block after:h-[3px] after:w-[25px] after:bg-default after:absolute after:top-[8px]
    "></span>
  </label>
  <div class="bg-default-mixed lg:bg-transparent w-full h-dvh fixed top-0 left-full z-20 lg:z-0 flex lg:grid flex-col gap-14 lg:gap-0 pt-12 lg:pt-0 transition-[left] duration-500 ease-in-out will-change-[left] lg:transition-none lg:area-nav-menu lg:h-full lg:static peer-checked:left-0">
    <slot name="inside-drawer" />
  </div>
</aside>
