---
export type Props = {
  'data-image-alt'?: string
  'data-image-aspect-ratio'?: string
  'data-image-blur-url'?: string
}

const {
  'data-image-alt': alt,
  'data-image-aspect-ratio': aspectRatio,
  'data-image-blur-url': blurUrl,
  ...props
} = Astro.props
---

<figure class="image-figure" {...props}>
  <div class="image-wrapper">
    <slot />
  </div>
  <figcaption>{alt}</figcaption>
</figure>
<style define:vars={{ aspectRatio, blurUrl }}>
  .image-figure {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    place-items: center;
    margin: 1.75rem 0;
    .image-wrapper {
      margin: 0 auto;
      max-height: 100%;
      aspect-ratio: var(--aspectRatio);

      & :global(img) {
        object-fit: contain;
        color: transparent;
        background-image: var(--blurUrl);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
      }
    }
    figcaption {
      font-size: 0.95rem;
    }
  }
</style>
