---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getLocaleFromUrl, useTranslations } from '@/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const t = useTranslations(locale)
---

<BaseLayout title="404">
  <main data-pagefind-ignore="all">
    <h1>404</h1>
    <p>{t('404.not_found')}</p>
    <a href="/">◀ {t('global.back_to_top')}</a>
  </main>
</BaseLayout>
<style>
  main {
    box-sizing: border-box;
    margin-top: 2.5rem;
    text-align: center;
  }
  @media (min-width: 1024px) {
    main {
      margin-top: 0;
    }
  }
</style>
