---
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getLocaleFromUrl } from '@/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout title="404" og={{ show: false }}>
  <main data-pagefind-ignore="all">
    <h1>404</h1>
    <p>{t.data.pages.not_found.message}</p>
    <a href="/">◀ {t.data.pages.not_found.back_to_top}</a>
  </main>
</BaseLayout>
<style>
  main {
    box-sizing: border-box;
    margin-top: 2.5rem;
    text-align: center;
  }
  @media (min-width: 1024px) {
    main {
      margin-top: 0;
    }
  }
</style>
