---
import '@/styles/pixelmplus.css'
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const translatePath = useTranslatedPath(locale)
const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout title="404" og={{ show: false }}>
  <main data-pagefind-ignore="all">
    <h1>404</h1>
    <p>{t.data.pages.not_found.message}</p>
    <a class="classic-blue-link" href={translatePath('/')}
      >◀ {t.data.pages.not_found.back_to_top}</a
    >
  </main>
</BaseLayout>
<style>
  main {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    h1 {
      font-family: 'PixelMplus10';
      font-size: 3.5rem;
    }
  }
  @media (min-width: 1024px) {
    main {
      margin-top: 0;
    }
  }
</style>
