---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import AboutLayout from '@/layouts/AboutLayout.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

export const getStaticPaths = (async () => {
  const pages = await getCollection('page')

  return pages.map((page) => ({
    params: {
      slug: page.slug,
    },
    props: {
      page,
    },
  }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props
const { Content } = await page.render()
---

{
  page.slug === 'about' ? (
    <AboutLayout>
      <Content />
    </AboutLayout>
  ) : (
    <BaseLayout
      title={page.data.title}
      description={page.data.description ?? ''}
    >
      <main>
        <Content />
      </main>
    </BaseLayout>
  )
}
