---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getEntry } from 'astro:content'

const meta = await getEntry('meta', 'site-data')
---

<BaseLayout
  title={meta.data.site.title}
  description={meta.data.site.description}
>
  <main>
    <!-- <h1>🧑‍🚀 Hello, {meta.data.site.title}!</h1> -->
    <div class="logo"><b>a<span>ge</span>nn<span>sa</span>ism</b></div>
  </main>
</BaseLayout>

<style>
  @import url(//fonts.googleapis.com/css?family=Vibur);
  html,
  body {
    height: 100%;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(8, 10, 24, 0.7)),
      url('/brick-wall2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: grayscale(50%);
    margin: 0;
  }
  .logo {
    text-align: center;
    font-size: 5.2rem;
    /* font-family: 'TiltNeon'; */
    /* width: 65%; */
    /* height: 250px; */
    margin: auto;
    user-select: none;
  }

  .logo b {
    font: 500 13vh 'Vibur';
    color: #fee;
    text-shadow:
      0 -40px 100px,
      0 0 2px,
      0 0 1em #ff4444,
      0 0 0.5em #ff4444,
      0 0 0.1em #ff4444,
      0 15px 3px #000;
    /* 0 0 7px #fee,
      0 0 10px #fee,
      0 0 21px #fee,
      0 0 42px #ff4444,
      0 0 82px #ff4444,
      0 0 92px #ff4444,
      0 0 102px #ff4444,
      0 0 151px #ff4444; */
    animation: pulsate 0.11s ease-in-out infinite alternate;
  }
  .logo b span {
    animation: blink linear infinite 2s;
  }
  .logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  @keyframes pulsate {
    100% {
      text-shadow:
        0 -41.5px 101px,
        0 0 2px,
        0 0 0.9em #ff4444,
        0 0 0.45em #ff4444,
        0 0 0.1em #ff4444,
        0 14.5px 2.5px #000;
    }
    0% {
      text-shadow:
        0 -41.5px 101px,
        0 0 1px,
        0 0 0.95em #ff4444,
        0 0 0.4em #ff4444,
        0 0 0.1em #ff4444,
        0 13.5px 1.5px #000;
    }
  }
</style>
