---
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'

const meta = await getEntry('meta', 'en/site-data')
---

<BaseLayout
  title={meta.data.site.title}
  description={meta.data.site.description}
>
  <main>
    <div class="ash"></div>
  </main>
</BaseLayout>
<style>
  main {
    margin-top: 2.5rem;
    box-sizing: border-box;
    width: 100%;
  }
  @media (min-width: 1024px) {
    main {
      margin-top: 0;
    }
  }
  .ash {
    position: relative;
    height: 1vmin;
    width: 1vmin;
    background: transparent;
    color: black;
    top: -56vmin;
    left: -10vmin;
    transform: scale(1.3, 1.3);
    box-shadow:
      5vmin 0,
      6vmin 0,
      7vmin 0,
      8vmin 0,
      9vmin 0,
      10vmin 0,
      3vmin 1vmin,
      4vmin 1vmin,
      5vmin 1vmin #999999,
      6vmin 1vmin #999999,
      7vmin 1vmin #999999,
      8vmin 1vmin #999999,
      9vmin 1vmin #999999,
      10vmin 1vmin #999999,
      11vmin 1vmin,
      12vmin 1vmin,
      3vmin 2vmin,
      4vmin 2vmin #999999,
      5vmin 2vmin #999999,
      6vmin 2vmin #999999,
      7vmin 2vmin #999999,
      8vmin 2vmin #999999,
      9vmin 2vmin #999999,
      10vmin 2vmin #999999,
      11vmin 2vmin #999999,
      12vmin 2vmin,
      3vmin 3vmin,
      4vmin 3vmin #999999,
      5vmin 3vmin #999999,
      6vmin 3vmin #999999,
      7vmin 3vmin #999999,
      8vmin 3vmin #999999,
      9vmin 3vmin #999999,
      10vmin 3vmin #999999,
      11vmin 3vmin #999999,
      12vmin 3vmin,
      2vmin 4vmin,
      3vmin 4vmin,
      4vmin 4vmin,
      5vmin 4vmin #999999,
      6vmin 4vmin white,
      7vmin 4vmin white,
      8vmin 4vmin white,
      9vmin 4vmin white,
      10vmin 4vmin #999999,
      11vmin 4vmin,
      12vmin 4vmin,
      13vmin 4vmin,
      2vmin 5vmin,
      3vmin 5vmin,
      4vmin 5vmin white,
      5vmin 5vmin,
      6vmin 5vmin,
      7vmin 5vmin,
      8vmin 5vmin,
      9vmin 5vmin,
      10vmin 5vmin,
      11vmin 5vmin white,
      12vmin 5vmin,
      13vmin 5vmin,
      1vmin 6vmin,
      2vmin 6vmin white,
      3vmin 6vmin,
      4vmin 6vmin white,
      5vmin 6vmin white,
      6vmin 6vmin white,
      7vmin 6vmin white,
      8vmin 6vmin white,
      9vmin 6vmin white,
      10vmin 6vmin white,
      11vmin 6vmin white,
      12vmin 6vmin,
      13vmin 6vmin white,
      14vmin 6vmin,
      1vmin 7vmin,
      2vmin 7vmin white,
      3vmin 7vmin white,
      4vmin 7vmin white,
      5vmin 7vmin white,
      6vmin 7vmin,
      7vmin 7vmin white,
      8vmin 7vmin white,
      9vmin 7vmin,
      10vmin 7vmin white,
      11vmin 7vmin white,
      12vmin 7vmin white,
      13vmin 7vmin white,
      14vmin 7vmin,
      2vmin 8vmin,
      3vmin 8vmin,
      4vmin 8vmin white,
      5vmin 8vmin white,
      6vmin 8vmin,
      7vmin 8vmin white,
      8vmin 8vmin white,
      9vmin 8vmin,
      10vmin 8vmin white,
      11vmin 8vmin white,
      12vmin 8vmin,
      13vmin 8vmin,
      2vmin 9vmin,
      3vmin 9vmin,
      4vmin 9vmin,
      5vmin 9vmin white,
      6vmin 9vmin white,
      7vmin 9vmin #999999,
      8vmin 9vmin #999999,
      9vmin 9vmin white,
      10vmin 9vmin white,
      11vmin 9vmin,
      12vmin 9vmin,
      13vmin 9vmin,
      1vmin 10vmin,
      2vmin 10vmin white,
      3vmin 10vmin white,
      4vmin 10vmin,
      5vmin 10vmin,
      6vmin 10vmin,
      7vmin 10vmin,
      8vmin 10vmin,
      9vmin 10vmin,
      10vmin 10vmin,
      11vmin 10vmin,
      12vmin 10vmin white,
      13vmin 10vmin white,
      14vmin 10vmin,
      1vmin 11vmin,
      2vmin 11vmin white,
      3vmin 11vmin white,
      4vmin 11vmin,
      5vmin 11vmin,
      6vmin 11vmin,
      7vmin 11vmin,
      8vmin 11vmin,
      9vmin 11vmin,
      10vmin 11vmin,
      11vmin 11vmin,
      12vmin 11vmin white,
      13vmin 11vmin white,
      14vmin 11vmin,
      2vmin 12vmin,
      3vmin 12vmin,
      4vmin 12vmin,
      5vmin 12vmin #999999,
      6vmin 12vmin #999999,
      7vmin 12vmin,
      8vmin 12vmin,
      9vmin 12vmin #999999,
      10vmin 12vmin #999999,
      11vmin 12vmin,
      12vmin 12vmin,
      13vmin 12vmin,
      3vmin 13vmin,
      4vmin 13vmin #999999,
      5vmin 13vmin,
      6vmin 13vmin,
      7vmin 13vmin #999999,
      8vmin 13vmin #999999,
      9vmin 13vmin,
      10vmin 13vmin,
      11vmin 13vmin #999999,
      12vmin 13vmin,
      3vmin 14vmin,
      4vmin 14vmin #999999,
      5vmin 14vmin #999999,
      6vmin 14vmin #999999,
      7vmin 14vmin,
      8vmin 14vmin,
      9vmin 14vmin #999999,
      10vmin 14vmin #999999,
      11vmin 14vmin #999999,
      12vmin 14vmin,
      4vmin 15vmin,
      5vmin 15vmin,
      6vmin 15vmin,
      7vmin 15vmin #6e6e6e,
      8vmin 15vmin #6e6e6e,
      9vmin 15vmin,
      10vmin 15vmin,
      11vmin 15vmin;
  }
</style>
