---
import type { Taxonomy } from '@/lib/collections/types'
import { getLocaleFromUrl } from '@/utils/i18n/get-locale-from-url'
import { useTranslatedPath } from '@/utils/i18n/use-translated-path'
import { slugify } from '@/utils/slugify'
import { getSlugWithoutLocale } from '@/utils/get-slug-without-locale'
import {
  colorVariants,
  taxonomyVariants,
  taxonomyLink,
  taxonomySpan,
} from './taxonomy.css'

type Props = {
  taxonomy: Taxonomy
}

const locale = getLocaleFromUrl(Astro.url)
const translatePath = useTranslatedPath(locale)
const { taxonomy } = Astro.props
---

<a
  class:list={[
    taxonomyLink,
    taxonomyVariants[taxonomy.collection],
    colorVariants[taxonomy.data.color],
  ]}
  href={translatePath(
    `/blog/${taxonomy.collection}/${slugify(getSlugWithoutLocale(taxonomy.id))}`
  )}
>
  <span class:list={[taxonomySpan]}
    >{
      taxonomy.collection === 'tags'
        ? `# ${taxonomy.data.title}`
        : taxonomy.data.title
    }</span
  >
</a>
