---
import type { TaxonomyData, TaxonomyKind } from '@/lib/collections/types';
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils';
import { slugify } from '@/utils/slugify';
import {
  colorVariants,
  taxonomyLink,
  taxonomyVariants,
} from './taxonomy.css';

type Props = {
  kind: TaxonomyKind;
  taxonomy: TaxonomyData;
};

const locale = getLocaleFromUrl(Astro.url);
const translatePath = useTranslatedPath(locale);
const { kind, taxonomy } = Astro.props;
---

<a
  class:list={[
    taxonomyLink,
    taxonomyVariants[kind],
    colorVariants[taxonomy.color],
  ]}
  href={translatePath(`/blog/${kind}/${slugify(taxonomy.slug)}`)}
>
  <span
    class={`
    text-neutral-100 bg-red-500 text-center
    ${kind === 'tags' ? `py-0.5 px-[0.35rem] my-1 mx-2 shadow-[0_0.35rem_red,0_-0.35rem_red,0.5rem_0_red,-0.5rem_0_red]`
    : 'py-1.5 px-3.5 m-0 rounded-[0.185rem]'
    }
    `}
  >
    {kind === 'tags' ? `# ${taxonomy.title}` : taxonomy.title}
  </span>
</a>
