---
import { getEntry } from 'astro:content'
import Svg from '@/components/Svg/index.astro'
import { getLocaleFromUrl } from '@/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const t = await getEntry('i18n', `${locale}/translation`)
const year = new Date().getFullYear()
---

<footer data-pagefind-ignore="all">
  &copy; {year}
  {t.data.blog_name}. All rights reserved.
  <div class="social-links">
    <a href="https://github.com/brklntmhwk" title="Github" target="_blank">
      <Svg iconName="github" width={32} height={32} />
    </a>
    <a href={`/${locale}/rss.xml/`} title="RSS">
      <Svg iconName="rss" width={32} height={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    grid-area: footer;
    padding: 2em 1em 3.5em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
