---
import { getEntry } from 'astro:content'
import Svg from '@/components/Svg/index.astro'
import { getLocaleFromUrl } from '@/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const t = await getEntry('i18n', `${locale}/translation`)
const year = new Date().getFullYear()
---

<footer data-pagefind-ignore="all">
  &copy; {year}
  {t.data.blog_name}. All rights reserved.
  <div class="social-links">
    <a href="https://github.com/brklntmhwk" title="Github" target="_blank">
      <Svg iconName="github" width={32} height={32} />
    </a>
    <a href="https://unsplash.com/@brklntmhwk" title="Unsplash" target="_blank">
      <Svg iconName="unsplash" width={32} height={32} />
    </a>
    <a href={`/${locale}/rss.xml`} title="RSS">
      <Svg iconName="rss" width={32} height={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    grid-area: footer;
    padding: 2.5rem 1rem 3.5rem 1rem;
    color: var(--fg);
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    margin-top: 1.5rem;
  }
  .social-links a {
    text-decoration: none;
    & svg {
      fill: var(--fg);
      &:hover {
        fill: var(--gray);
      }
    }
  }
</style>
