---
import NavLink from '@/components/NavLink.astro'
import Svg from '@/components/Svg/index.astro'
import Search from '@/components/Search.astro'
---

<nav data-pagefind-ignore="all">
  <a class="blog-title" href="/">
    <Svg iconName="logo" width={54} height={50} />
  </a>
  <input type="checkbox" id="menu-toggle-check" />
  <label for="menu-toggle-check" class="hamburger-icon-btn">
    <span></span>
  </label>
  <div class="nav-menu-container">
    <div class="nav-links">
      <NavLink href="/">Home</NavLink>
      <NavLink href="/blog/">Blog</NavLink>
      <NavLink href="/about/">About</NavLink>
    </div>
    <div class="icon-links">
      <Search />
      <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span class="sr-only">Follow Me on X(previous Twitter)</span>
        <Svg iconName="twitter" width={32} height={32} />
      </a>
      <a href="https://github.com/brklntmhwk" target="_blank">
        <span class="sr-only">Go to the GitHub repo</span>
        <Svg iconName="github" width={32} height={32} />
      </a>
    </div>
  </div>
</nav>
<style>
  nav {
    background-color: rgba(255 255 255 0.4);
    backdrop-filter: opacity(0.2);
    -webkit-backdrop-filter: opacity(0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: 4.25rem;
    box-sizing: border-box;
    padding: 0.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    color: var(--black);
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav a.blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-menu-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-top: 3rem;
    margin-top: 4.25rem;
    background-color: #f4f4f4;
    transition: all 0.2s;
  }
  .nav-menu-container > * {
    padding: 0.75rem 2.75rem;
  }
  .nav-links {
    display: grid;
    gap: 1.5rem;
    margin-left: 1.25rem;
  }
  .nav-links a {
    position: relative;
    &:hover::before {
      font-family: 'PixelMplus10';
      content: '▶';
      position: absolute;
      top: 0;
      left: -1.5rem;
      font-size: 1.25rem;
      align-self: center;
    }
  }
  .nav-links a.active {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 8px;
  }
  .icon-links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
  }
  label.hamburger-icon-btn {
    display: flex;
    place-self: center;
  }
  .hamburger-icon-btn {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  .hamburger-icon-btn span,
  .hamburger-icon-btn span:before,
  .hamburger-icon-btn span:after {
    font-family: 'PixelMplus10';
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
  }
  .hamburger-icon-btn span:before {
    bottom: 8px;
  }
  .hamburger-icon-btn span:after {
    top: 8px;
  }
  #menu-toggle-check:checked ~ .hamburger-icon-btn span {
    background-color: transparent;
  }
  #menu-toggle-check:checked ~ .hamburger-icon-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-toggle-check:checked ~ .hamburger-icon-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-toggle-check:checked ~ .nav-menu-container {
    left: 0;
  }
  #menu-toggle-check {
    display: none;
  }

  @media (min-width: 768px) {
    nav {
      height: 5.25rem;
      box-sizing: border-box;
      padding: 0.85rem 1.5rem;
    }
    .nav-menu-container {
      /* width: 100%; */
      width: unset;
      height: 100%;
      position: static;
      z-index: 0;
      display: flex;
      /* place-items: start; */
      justify-content: space-between;
      flex-direction: unset;
      align-items: center;
      gap: 4rem;
      padding-top: 0;
      margin-top: 0;
      background-color: transparent;
      transition: unset;
    }
    .nav-menu-container > * {
      padding: 0;
    }
    .icon-links,
    .nav-links {
      display: flex;
    }
    .nav-links {
      gap: 3.25rem;
    }
    .icon-links {
      justify-content: unset;
      gap: 2rem;
    }
    label.hamburger-icon-btn {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    nav {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: 1fr 9fr;
      grid-template-columns: 1fr;
      grid-area: navigation;
      grid-template-areas:
        'blog-title'
        'nav-menu';
      align-items: start;
      position: sticky;
      padding: 1.75rem 1.85rem;
      margin: 0;
      width: 18rem;
      height: 100vh;
      border-right: 1px solid #e4e9f0;
      box-sizing: border-box;
    }
    nav a.blog-title {
      grid-area: blog-title;
      place-self: center;
    }
    .nav-menu-container {
      grid-area: nav-menu;
      grid-template-rows: 7fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        'nav-links'
        'icon-links';
      height: 100%;
      position: static;
      z-index: 10;
      display: grid;
      gap: 0;
      padding-top: 0;
      margin-top: 0;
      background-color: transparent;
      transition: unset;
    }
    .nav-menu-container > * {
      padding: 0;
    }
    .nav-links {
      grid-area: nav-links;
      display: grid;
      gap: 2rem;
      align-self: start;
      margin-left: 1.5rem;
    }
    .nav-links a {
      position: relative;
      &:hover::before {
        font-family: 'PixelMplus10';
        content: '▶';
        position: absolute;
        top: 0;
        left: -1.45rem;
        font-size: 1.25rem;
        align-self: center;
      }
    }
    .nav-links a.active {
      text-decoration: underline;
      text-decoration-color: var(--accent);
      text-underline-offset: 8px;
    }
    .icon-links {
      padding: 0 0.5rem;
      grid-area: icon-links;
      display: flex;
      justify-content: space-between;
      gap: 1.75rem;
      align-self: end;
    }
    label.hamburger-icon-btn {
      display: none;
    }
  }
</style>
