---
import NavLink from '@/components/NavLink.astro'
import Svg from '@/components/Svg/index.astro'
import Search from '@/components/Search.astro'
import Hamburger from '@/components/Hamburger.astro'
---

<nav data-pagefind-ignore="all">
  <a class="blog-title" href="/"
    ><Svg iconName="site-logo" width={32} height={32} /></a
  >
  <div class="nav-links">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/about">About</NavLink>
  </div>
  <div class="icon-links">
    <Search />
    <a href="https://twitter.com/astrodotbuild" target="_blank">
      <span class="sr-only">Follow Me on X(previous Twitter)</span>
      <Svg iconName="twitter" width={32} height={32} />
    </a>
    <a href="https://github.com/brklntmhwk" target="_blank">
      <span class="sr-only">Go to the GitHub repo</span>
      <Svg iconName="github" width={32} height={32} />
    </a>
  </div>
  <div class="mobile-menu">
    <Search />
    <Hamburger />
  </div>
</nav>

<style>
  nav {
    background-color: rgba(255 255 255 0.4);
    backdrop-filter: opacity(0.2);
    -webkit-backdrop-filter: opacity(0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 2.75rem;
    box-sizing: border-box;
    padding: 2.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 1.5rem 1.05rem; */
    /* width: 100%; */
    /* grid-area: navigation; */
  }
  nav a {
    /* padding: 1em 0.5em; */
    color: var(--black);
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .icon-links,
  .nav-links {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  @media (min-width: 768px) {
    nav {
      height: 2.85rem;
      box-sizing: border-box;
      padding: 2.75rem 1.5rem;
    }
    .icon-links,
    .nav-links {
      display: flex;
      column-gap: 1.75rem;
    }
    .mobile-menu {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    nav {
      display: grid;
      grid-template-rows: 1fr 6fr 1fr;
      grid-template-columns: 1fr;
      grid-area: navigation;
      grid-template-areas:
        'blog-title'
        'nav-links'
        'icon-links';
      align-items: start;
      position: sticky;
      /* top: 0; */
      padding: 1.75rem 1.75rem;
      margin: 0;
      width: 18rem;
      height: 100vh;
      border-right: 1px solid #e4e9f0;
      box-sizing: border-box;
    }
    nav a.blog-title {
      grid-area: blog-title;
    }
    .nav-links {
      display: grid;
      grid-area: nav-links;
      gap: 15px;
    }
    .icon-links {
      grid-area: icon-links;
      display: flex;
      justify-content: space-between;
      column-gap: 1.5rem;
      align-self: end;
    }
    .mobile-menu {
      display: none;
    }
  }
</style>
