---
import type { HTMLAttributes } from 'astro/types'
import { getLocaleFromUrl } from '@/utils/i18n/getLocaleFromUrl'

type Props = Omit<HTMLAttributes<'a'>, 'href'> & {
  href: URL | string
}

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const locale = getLocaleFromUrl(Astro.url)
const isActive =
  href === `/${locale}/`
    ? pathname === `/${locale}/`
    : pathname.startsWith(href.toString())
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
</style>
