---
import '@pagefind/default-ui/css/ui.css'
import Svg from '@/components/Svg/index.astro'
---

<div id="search-modal" class="hidden">
  <div id="search-wrapper">
    <div id="search"></div>
  </div>
</div>
<button id="search-icon-button">
  <span class="sr-only">Search blog entries</span>
  <Svg iconName="magnifier" width={32} height={32} />
</button>
<style>
  #search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 1.5rem;
    z-index: 90;
    background-color: hsla(223, 13%, 10%, 0.66);
    backdrop-filter: blur(0.25rem);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    --pagefind-ui-background: var(--bg);
    --pagefind-ui-border: var(--line);
    --pagefind-ui-text: var(--fg);
    --pagefind-ui-primary: var(--fg);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-font: initial;
    --pagefind-ui-tag: color-mix(in srgb, var(--code) 95%, var(--fg) 5%);
  }
  @media (min-width: 1024px) {
    #search-modal {
    }
  }
  #search-modal.hidden {
    display: none;
  }
  #search-wrapper {
    background-color: color-mix(in srgb, var(--bg) 97%, var(--fg) 3%);
    max-width: 30rem;
    max-height: 100vh;
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 0 auto;
    overflow-y: auto;
  }
  #search-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
</style>
<script>
  import { PagefindUI } from '@pagefind/default-ui'

  function initPagefind() {
    new PagefindUI({
      element: '#search',
      translations: {
        placeholder: 'Search articles',
      },
    })

    const listenToModalEvents = (
      modalButton: Element,
      modal: Element,
      input: HTMLInputElement
    ) => {
      modalButton.addEventListener('click', () => {
        modal.classList.toggle('hidden')
        input.focus()
      })

      modal.addEventListener('click', (e) => {
        if (e.target === modal) {
          modal.classList.toggle('hidden')
        }
      })

      window.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') {
          modal.classList.add('hidden')
        }
        if (e.code === 'KeyF' && e.ctrlKey && e.shiftKey) {
          e.preventDefault()
          modal.classList.toggle('hidden')
          input.focus()
        }
      })
    }

    const modalButton = document.querySelector('#search-icon-button')
    const modal = document.querySelector('#search-modal')
    const input = document.querySelector(
      '.pagefind-ui__search-input'
    ) as HTMLInputElement | null

    if (modalButton && modal && input) {
      listenToModalEvents(modalButton, modal, input)
    }
  }

  document.addEventListener('DOMContentLoaded', initPagefind)
</script>
