---
import type { TaxonomyList } from '@/lib/collections/types'
import { getLocaleFromUrl } from '@/utils/i18n/get-locale-from-url'
import { useTranslatedPath } from '@/utils/i18n/use-translated-path'
import { slugify } from '@/utils/slugify'
import { getRawSlug } from '@/utils/get-raw-slug'

type Props = {
  taxonomyList: TaxonomyList
}

const locale = getLocaleFromUrl(Astro.url)
const translatePath = useTranslatedPath(locale)
const { taxonomyList } = Astro.props
---

<ul class:list={['taxonomy-list', taxonomyList[0]?.collection]}>
  {
    taxonomyList.flatMap((taxonomy) => (
      <li>
        <a
          href={translatePath(
            `/blog/${taxonomy.collection}/${slugify(getRawSlug(taxonomy.id))}`
          )}
        >
          {taxonomy.collection === 'tags'
            ? `#${taxonomy.data.title}`
            : taxonomy.data.title}
        </a>
      </li>
    ))
  }
</ul>
<style>
  ul.taxonomy-list {
    padding: 1.75rem 0;
  }
  li {
    font-size: 1.15rem;
  }
  a {
    color: var(--accent);
    text-decoration: none;
    &:hover {
      color: var(--accent-dark);
    }
  }
  .categories,
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.35rem;
  }
</style>
