---
import { getLocaleFromUrl } from '@/utils/i18n/getLocaleFromUrl'
import { useTranslatedPath } from '@/utils/i18n/useTranslatedPath'
import { slugify } from '@/utils/slugify'

type Props = {
  taxonomyList: string[]
  kind: 'categories' | 'tags'
}

const locale = getLocaleFromUrl(Astro.url)
const translatePath = useTranslatedPath(locale)
const { taxonomyList, kind } = Astro.props
---

<ul class:list={['taxonomy-list', kind]}>
  {
    taxonomyList.flatMap((taxonomy) => (
      <li>
        <a href={translatePath(`/blog/${kind}/${slugify(taxonomy)}`)}>
          {kind === 'tags' ? `#${taxonomy}` : taxonomy}
        </a>
      </li>
    ))
  }
</ul>
<style>
  ul.taxonomy-list {
    padding: 1.75rem 0;
  }
  li {
    font-size: 1.15rem;
  }
  a {
    color: var(--accent);
    text-decoration: none;
    &:hover {
      color: var(--accent-dark);
    }
  }
  .categories,
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.35rem;
  }
</style>
