---
import { callout, calloutVariants } from './callout.css'
import { getCalloutType } from './callouts'

export type Props = {
  'data-callout-type': string
  'data-expanded': string
  'data-expandable': string
}

const { 'data-callout-type': calloutType, ...restProps } = Astro.props
const validCalloutType = getCalloutType(calloutType)
---

<div
  class:list={[callout, calloutVariants[validCalloutType]]}
  data-callout-type={validCalloutType}
  {...restProps}
>
  <slot />
</div>
