---
import { getCalloutType, style as calloutStyle } from './callouts';

export type Props = {
  'data-callout-type': string;
  'data-expanded': string;
  'data-expandable': string;
};

const { 'data-callout-type': calloutType, ...restProps } = Astro.props;
const validCalloutType = getCalloutType(calloutType);
---

<div
  class:list={[calloutStyle({ type: validCalloutType })]}
  data-callout-type={validCalloutType}
  {...restProps}
>
  <slot />
</div>
