---
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'

const meta = await getEntry('meta', 'site-data')
---

<BaseLayout
  title={meta.data.about.title}
  description={meta.data.about.description}
>
  <main data-pagefind-ignore="all">
    <h1>About Me</h1>
    <section class="profile-section">
      <Image
        alt="My profile icon"
        class="profile-icon"
        src="/blog-placeholder-about.jpg"
        width={180}
        height={180}
        format="avif"
        quality={50}
      />
      <span class="my-name">brklntmhwk</span>
    </section>
    <hr />
    <article class="about-content">
      <slot />
    </article>
  </main>
</BaseLayout>
<style>
  section.profile-section {
    padding: 1.75rem 0;
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
  }
  @media (min-width: 768px) {
    section.profile-section {
      padding: 2.25rem 0;
      display: flex;
      justify-content: center;
      gap: 2.25rem;
    }
  }
  @media (min-width: 1024px) {
    section.profile-section {
      padding: 2.25rem 0;
      gap: 2.5rem;
      justify-content: start;
    }
  }
  .profile-icon {
    border-radius: 9999px;
    object-fit: cover;
  }
  section.profile-section div {
    display: grid;
  }
  span.my-name {
    font-size: 1.5rem;
    font-weight: 600;
  }
  article.about-content {
    padding: 0.5rem;
  }
  @media (min-width: 768px) {
    article.about-content {
      padding: 1.25rem;
    }
  }
</style>
