---
import '@/styles/global.css'
import '@fontsource-variable/roboto-condensed'
import BaseHead from '../components/BaseHead.astro'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

type Props = {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description ?? ''} />
  </head>
  <body>
    <div class="base-wrapper">
      <Navigation />
      <slot />
      <Footer />
    </div>
    <style>
      .base-wrapper {
        width: 100%;
        display: grid;
        padding-top: 3.75rem;
        grid-template-rows: auto 1fr;
        grid-template-areas:
          'main'
          'footer';
      }
      @media (min-width: 1024px) {
        main {
          /* width: 100%; */
          grid-area: main;
          padding: 2.5em 2em;
          overflow-y: auto;
        }

        .base-wrapper {
          width: 100%;
          min-height: 100vh;
          padding-top: 0;
          margin: 0;
          display: grid;
          grid-template-columns: 18rem 1fr;
          grid-template-rows: 1fr auto;
          /* grid-auto-columns: 18rem minmax(50rem, auto); */
          grid-auto-rows: minmax(100px, auto);
          grid-template-areas:
            'navigation main'
            'navigation footer';
        }
      }
    </style>
  </body>
</html>
