---
import { type CollectionEntry /* , getEntry */ } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Article } from '@/components/Article'
import { Contact } from '@/components/Contact'
// import { ContactForm } from '@/components/ContactForm/ContactForm'
// import { getLocaleFromUrl } from '@/utils/i18n/utils'

type Props = {
  page: CollectionEntry<'page'>
}

// const locale = getLocaleFromUrl(Astro.url)
const { page } = Astro.props
const { data } = page
const { title, description } = data
// const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout title={title} description={description ?? ''} og={{ show: true }}>
  <main data-pagefind-ignore="all">
    <Article kind="contact">
      <h1 slot="metadata" class="page-title">{title}</h1>
      <section slot="content" class="contact">
        <slot />
        <!-- <ContactForm client:only="solid" t={t.data.contact_form} /> -->
        <Contact />
      </section>
    </Article>
  </main>
</BaseLayout>
<style>
  article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    hr {
      width: 100%;
    }
    .page-title {
      line-height: 1.175;
    }
    .contact {
      font-size: 1.125rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      line-height: 1.65;
    }
  }
</style>
