---
import type { CollectionEntry } from 'astro:content';
import { Article } from '@/components/models/Article';
import { FormattedDate } from '@/components/models/FormattedDate';
import { Icon } from '@/components/ui/Icon';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocaleFromUrl } from '@/utils/i18n/utils';

type Props = {
  page: CollectionEntry<'page'>;
};

const locale = getLocaleFromUrl(Astro.url);
const { page } = Astro.props;
const { title, description, modifiedAt } = page.data;
---

<BaseLayout title={title} description={description ?? ''} og={{ show: true }}>
  <main data-pagefind-ignore="all">
    <Article kind="page">
      <section slot="metadata" class="flex flex-col gap-4">
        <h1 class="text-3xl sm:text-4xl xl:text-5xl font-extrabold leading-snug sm:leading-snug md:leading-snug">{title}</h1>
        <div class="text-sm xs:text-base sm:text-lg flex flex-wrap gap-x-4 gap-y-1">
          {
            modifiedAt && (
              <div class="flex items-center gap-1.5">
                <Icon iconName="update" width={20} height={20} />
                <FormattedDate date={modifiedAt} locale={locale} />
              </div>
            )
          }
        </div>
      </section>
      <section slot="content" class="prose prose-lg md:prose-xl">
        <slot />
      </section>
    </Article>
  </main>
</BaseLayout>
